[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=5.0"
django-redis = "*"
psycopg2-binary = "*"
channels = "*"
celery = "*"
djangorestframework = "*"
amqp = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
channels-redis = "*"
uvicorn = {extras = ["standard"], version = "*"}
daphne = "*"
whitenoise = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
